[submodule "function2"]
	path = function2
	url = https://github.com/Naios/function2.git
[submodule "mimalloc"]
	path = mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
